@font-face {
  font-family: 'Benton Sans';
  src: url('/assets/fonts/Benton_Sans-Regular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Benton Sans';
  src: url('/assets/fonts/Benton_Sans-Italic.otf') format('opentype');
  font-style: italic;
}

@font-face {
  font-family: 'Benton Sans';
  src: url('/assets/fonts/Benton_Sans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Benton Sans';
  src: url('/assets/fonts/Benton_Sans-Bold_Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
