
.pngButton {
  width: 150%;
  -webkit-filter: invert(56%); 
  filter: invert(56%);
  &.selected {
    -webkit-filter: invert(0%); 
    filter: invert(0%);
  }
}

.button {
  display: flex;  
}

.disabled {
  opacity: 0.4;
}

.hide {
  display: none;
}
